.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


body {
  background-image: url('./assets/premier_league_pattern.gif');
}
.btn {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 2rem;
	padding-left: 2rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: .3rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
  user-select: none;
  background-color: rgba(244, 250, 249, 0.99);
  margin:  5px 5px 5px 5px;
  transform: skew(15deg);
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .6s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}
.middle:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.middle:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.middle:hover:before {
	left: 0;
	width: 100%;
}

.middle:hover:after {
	top: 0;
	height: 100%;
}
th, td {
  vertical-align: middle!important;

}
h1 {
color: black;
vertical-align: middle!important;
-webkit-font-smoothing: 'antialiased';
box-sizing: 'inherit';
text-transform: uppercase;
}
h2 {
  vertical-align: middle!important; 
}
.card{
  margin: '24px 24px 24px 24px';
  background-color: '#030366';
  color: '#fff';
  transform: 'skew(20deg)';
   opacity: .99
}